
# version: "3.3"
services:
  # Running via cloudflared tunnel. Service is at facewire.exploretheworld.tech,
  # running at service http://picasa_frontend:3000
  picasa_frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        buildno: 1
    image:
      picasa_frontend_img
    container_name: picasa_frontend
    env_file:
      - .env
    command:
      sh /start.sh
    # entrypoint:
    #   # serve -s build
    #   /bin/ # For the dev server
    environment:
      # Add the following line to your /etc/profile:
      # HOST_IP=`ip route | grep default | awk '{print $9}'`
      - DOCKER_HOST_IP=${HOST_IP} 
      - CHOKIDAR_USEPOLLING=true
#    ports:
#     - 8080:3000
#     - 8081:5000
    volumes:
      - '/app/node_modules'
      - /home/benjamin/git_repos/facewires_frontend/:/app
    networks:
      - traefik_proxy
    restart: always


networks:
  default: 
    driver: bridge
  traefik_proxy:
    external: true
