body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 10px;
  height: 100%;
}

ol, ul {
  padding-left: 30px;
}

.kbd-navigation .square:focus {
  background: #ddd;
}


#rand{
  height: 8vh;
  position: float;
  color: #939393;
}


#picasaWorkArea {
/*     border: 1px solid green; */
    overflow: hidden; /* if you don't want #second to wrap below #first */
    width: 80%;
    left: 15%;
    position: absolute;
    padding: 10px 40px;
}



#screenWrapper {
    width: 100%;
    height: 100vh;
/*     border: 1px solid black; */
  /*  overflow: hidden; *//* will contain if #first is longer than #second */
}