.imageScreen{
    /*height: 94vh;*/
    background-color: white;
    z-index: 100;
    /*position: fixed;*/
    /*margin-left: 150px;*/
    
    /*overflow:scroll;*/
    /*overflow-x:hidden;*/
    /*background-color: #fcfff7;*/
/*     border: 1px solid #DDDDDD; */
    border-radius: 4px 0 4px 0;
    color: #3B3C3E;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 10px 7px 5px;
    scroll-behavior: smooth;
    margin-top: 120px
}

.imageScreen, .img_thumb, .img_thumb_active, #screenWrapper{
    background-color:  #fcfff7;
}

.sidebarList, .screenHeader {
    margin-top:42px;
}

.screenHeader, .imageScreen{
    width: 90%;
    float: right;
}

.screenHeader{
    background-color: white;
    z-index: 100;
    position: fixed;
    margin-left: 10%;
    height: 80px;
    line-height: 80px;
    padding: 4px;
    
}

.transition{
    height: 150px;
}

.infinite-scroll-component {
    overflow: hidden !important;
    /* 80 px - screenHeader height
    42px -- menu height
    13 px -- padding
    */
    height: calc( 100vh - 80px - 42px - 13px) !important;
}

.highlight_img{
    height: 70px;
    margin: 0 15px 0 15px;
    border-radius: 50%;
}

.header_person_name, .no_classify_checkbox{
    text-shadow: 1px 1px #A9A9A9;
    color: #450293;
    font-stretch: expanded;
    vertical-align:middle;
    position: relative;
    
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.header_person_name{
    font-size: 25px;
    height: 90px;
}

.no_classify_checkbox{
    font-size: 15px;
    height: 100%;
    top:  45%;
    float: right;
    right: 10%;
}
